@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Secular+One&display=swap');

ul {
    padding: 0;
}

* {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 10px auto;
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 65px;
    margin: 10px 20px;
    background-color: rgb(3, 93, 3);
    color: white;
    padding: 0px 20px;
}

#transaction-form-container {
    padding: 10px;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border-width: .5px;
    border: solid;
    border-color: black;
}

.outline-box {
    border-width: .5px;
    border: solid;
    border-color: black;
    padding: 20px;
}

.one-line {
    flex-direction: row;
    display: flex;
}


input {
    display: block;
    background-color: white;
    border-width: 1.5px;
    width: 250px;
    margin: 5px;
    border-radius: 4px;
}

button {
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 20px;
    border: 0px;
    margin: 0px auto;
    display: block;
    font-weight: 300;
}

button:active {
    transform: scale(.80);
}