@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Secular+One&display=swap');

ul {
    padding: 0;
}

* {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 10px auto;
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 65px;
    color: rgb(3, 93, 3);
    margin: 0px;
}

h2 {
    margin: 0px;
}

.outline-box {
    border-width: .5px;
    border: solid;
    border-color: black;
    padding: 20px;
}

.one-line {
    flex-direction: row;
    display: flex;
}

.budgetbook-header,
.container-md {
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    margin: 50px 0px;
}

.crumb {
    margin: 1rem;
    display: inline;
    text-align: center;
}

.intro-form {
    text-align: left;
}

input {
    display: block;
    background-color: white;
    border-width: 1.5px;
    width: 250px;
    margin: 5px;
    border-radius: 4px;
}

button {
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 20px;
    border: 0px;
    margin: 0px auto;
    display: block;
    font-weight: 300;
}

button:active {
    transform: scale(.80);
}